development:
  adapter:  postgresql
  encoding: unicode
  database: zurui_sample_rails5_development
  pool:     5

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: zurui_sample_rails5_test
  pool:     5
